<% provide(:title, @node.name) %>
<div id="fMessages"></div>


<h1><%= image_tag(@node.icon, id: "tree_icon" )%> <%= @node.name %></h1>

<div class="row">
  <div class="col-md-8">
    <%= form_tag do  %>
    <%= label_tag(:_node_name, "Name:") %>
		<%= text_field_tag(:node_name, @node.name) %>
		<%= hidden_field(:graph, "id", {:value => @node.id}) %>
		<% end %>
		<% puts @node.tag_list %>
		<%= label_tag(:_node_tags, "Tags:") %>
		<input type="text" value="<%= @node.tag_list %>" data-role="tagsinput" id="tree_tags"/>
		
	</div>
</div>

<div id="graphContainer"></div>

<button onclick="postNewGraph()">Save</button> 

<%= link_to 'Show', @node %> |
<%= link_to 'Back', nodes_path %>

<div id="savestate"></div>

<script>


  jsPlumb.ready(init_jsplumb);
  <%= render 'filltree', :node => @node, :edit => true %>
  icon_selector_dialog($('#tree_icon'));

</script>

