<h1><%= image_tag(@node.icon, id: "tree_icon" )%>New Node</h1>
<div id="flash_message"></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag do  %>
    <%= label_tag(:_node_name, "Name:") %>
		<%= text_field_tag(:node_name) %>
		<%= label_tag(:_node_tags, "Tags:") %>
		<input type="text" value="<%= @node.tag_list %>" data-role="tagsinput" id="tree_tags"/>
		<% end %>
	</div>
</div>

<div id="graphContainer">
</div>
<button onclick="postGraph()">Save</button> 


<%= link_to 'Back', nodes_path %>

<div id="savestate"></div>

<script>
	var default_icon = "<%= image_url('0-pignon-128.png', id: "default_icon" )%>";
  jsPlumb.ready(init_jsplumb(default_icon));
  icon_selector_dialog($('#tree_icon'));
</script>
