<% provide(:title, @node.name) %>

<h1><%= image_tag(@node.icon, id: "tree_icon" )%> <%= @node.name %></h1>

<%= label_tag(:_node_tags, "Tags:") %>
<input type="text" value="<%= @node.tag_list %>" data-role="tagsinput" id="tree_tags" readonly="readonly" style="border-style:none;"/>

    <%= form_tag do  %>
    <% end %>

<div id="graphContainer">
</div>
<button onclick="postGraph('true')">Save as a new graph</button> 
<%= link_to 'Back', nodes_path %>


<div id="savestate"></div>
<script>
  jsPlumb.ready(function(){
  
		init_jsplumb();
		<%= render 'filltree', :node => @node, :edit => false %>
		$("#tree_tags").prop('disabled', true);
	});
  
</script>

