<% provide(:title, @node.name) %>

<h1><%= image_tag(@node.icon, id: "tree_icon" )%> <%= @node.name %></h1>


<input type="text" value="<%= @node.tag_list %>" data-role="tagsinput" id="tree_tags" readonly="readonly"/>
<div id="graphContainer">
</div>

<%= link_to 'Back', nodes_path %>


<div id="savestate"></div>
<script>
  jsPlumb.ready(init_jsplumb);
  <%= render 'filltree', :node => @node, :edit => false %>
</script>

