<% provide(:title, @node.name) %>

<h1><%= image_tag(@node.icon, id: "tree_icon" )%> <div id='graph_h1_title'><%= @node.name %></div></h1>

<%= label_tag(:_node_tags, "Tags:") %>
<input type="text" value="<%= @node.tag_list %>" data-role="tagsinput" id="tree_tags" readonly="readonly" style="border-width:0px;border:none;"/>

<div id="graphContainer">
</div>

<%= link_to 'Back', nodes_path %>

<script>
  jsPlumb.ready(function(){
  
		init_jsplumb();
		<%= render 'nodes/filltree', :node => @node, :edit => false %>
		$("#tree_tags").prop('disabled', true);
		$(".bootstrap-tagsinput").css( { "border-width":"0px", "border":"none" });
	});
  
</script>

