<div id='upload_picture_form'>
	<%= form_tag("/icons/", multipart: true, :id => "upload_form") do %>
		<%= file_field_tag "picture", :id => "upload_form_file" %>
		<%= button_to "Upload", remote:true, :id => "submit_upload" %>
	<% end %>
</div>

<script>
$(document).ready(function(){
	$('#upload_form').submit( function (event){
		event.stopPropagation(); // Stop stuff happening
    event.preventDefault(); // Totally stop stuff happening

    // START A LOADING SPINNER HERE

    // Create a formdata object and add the files
    var data = new FormData( this );
    //data.append("0", $('#upload_form_file').val().replace("C:\\fakepath\\", "") );

    $.ajax({
        url: '/icons/',
        type: 'POST',
        data: data,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false, // Set content type to false as jQuery will tell the server its a query string request
        success: function(data, textStatus, jqXHR)
        {
            if(typeof data.error === 'undefined')
            {
                // Success so call function to process the form
                console.log(data.message);
                $("#upload_picture_form").html($("<img>").attr('src',data.message).attr('width',48).attr('height',48));
            }
            else
            {
                // Handle errors here
                console.log('ERRORS: ' + data.error);
            }
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            // Handle errors here
            console.log('ERRORS: ' + textStatus);
            // STOP LOADING SPINNER
        }
    });

	});
});
	
	
</script>

<%= will_paginate %>

<ul class="icons">
  <% @icons.each do |icon| %>
		<i><%= image_tag(image_url(icon), width: "32", height: "32" ) %></i>
	<% end %>
</ul>

<%= will_paginate %>

<script>
	$(".paginate a").each(function(i,link){
		var hr = link.href;
		link.href = '#';
		link.attr('target',hr);
	});
</script>
